## Plan
Plan is to make a script that will find which genes overlap a DEL and then annotate them. 
The kind of thing I want to end up with is a table that has genes as rows, and samples as columns, where for each gene, there is either an overlap or there isn't. This makes no sense wow.

1. Check that the chromosome is the same

AND EITHER

1. start (gene) < start (DEL) &&  end (gene) > start (DEL)

OR 

1. start (gene) < end (DEL) && end (gene) > end (DEL)

If either of these are true, then measure the overlap

In [2]:
del.file <- "~/Documents/Rotation3/scripts/general/test_dels.txt"
gene.file <-"~/Documents/Rotation3/scripts/general/test_genes.txt" 


dels <- read.table(del.file, header = T)
dels <- dels[1:3]
colnames(dels) <- c("chr", "start", "end")

genes <- read.table(gene.file)
genes <- genes[1:3]
colnames(genes) <- c("chr","start", "end")

In [3]:
genes

  chr start  end
1 10   40000  40100
2 10   48000  48100
3 10  240000 240100
4 10  280000 280100

In [4]:
dels

  chr start  end
1 10   40000  40200
2 10   48050  48100
3 18  290100 299100

In [5]:
apply(genes, 1, sum)

[1]  80110  96110 480110 560110

In [6]:
apply(genes, 1, function(v) any(v[1]==dels[1] ))

[1] TRUE TRUE TRUE TRUE

In [17]:
apply(genes, 1, function(v) any(v[,1]==dels[,1] &  as.numeric(v[,2]) <= as.numeric(dels[,2]) ))

ERROR: Error in v[, 1]: incorrect number of dimensions

In [22]:
apply(genes, 1, function(v) any(v[1]==dels[,1] & as.numeric(v[2]) <= as.numeric(dels[,2])  ))

[1]  TRUE  TRUE FALSE FALSE

AHA

The v needs no comma, but you need to let R know that you are looking at the column value

In [26]:
genes

  chr start  end
1 10   40000  40100
2 10   48000  48100
3 10  240000 240100
4 10  280000 280100

In [27]:
dels

  chr start  end
1 10   40000  40200
2 10   48050  48100
3 18  290100 299100